:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--foreground);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 91vh;
	margin-top: 4.5vh;
	margin-bottom: 4.5vh;
	padding: var(--twelve);
	font-size: var(--font-size-primary);
	text-align: center;
}

main {
	width: 100%;
	max-width: 15.625rem;
}

/* Result / Top Part */

.__result {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: var(--border-shorthand);
	padding: var(--seven) calc(var(--twelve) * 2);
	text-align: right;
	cursor: default;
	overflow: auto;
	letter-spacing: 0.063rem;

	position: relative;
}

._previous-calculation {
	font-size: var(--font-size-secondary);
	font-style: italic;
}

._previous-calculation,
._calculation {
	margin: 0.063rem 0;
}

._previous-calculation:empty::before,
._calculation:empty::before {
   content: "\00a0";
}

/* Buttons */

.__buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border: var(--border-shorthand);
	border-top: none;
	height: 50vh;
	min-height: 15rem;
	max-height: 17.813rem;
	padding: var(--twelve);
	overflow: auto;

	position: relative;
}

.__buttons > span {
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border-shorthand);
	margin: 0.125rem;
	font-size: var(--font-size-button);
	cursor: pointer;
	user-select: none;
}

.__buttons img {
	width: var(--font-size-primary);
	height: auto;
	opacity: 0.7;
}

/* History */

._history-icon {
	position: absolute;
	top: var(--seven);
	left: var(--twelve);
}

._history-icon img {
	width: 1.313rem;
	padding: 0.188rem;
	opacity: 0.8;
	cursor: pointer;
}

._history-items {
	display: none;
	background: white;
	border: var(--border-shorthand);
	height: 100%;
	max-height: 9.375rem;
	width: 100%;
	max-width: 9.375rem;
	overflow-y: scroll;

	position: absolute;
	top: var(--twelve);
	left: var(--twelve);
	z-index: 1;
}

._history-items span {
	display: flex;
	border: var(--border-shorthand);
	margin: 0.125rem;
	padding: var(--seven);
	font-size: var(--font-size-secondary);
	letter-spacing: 0.125rem;
	overflow: auto;
	user-select: auto;
	cursor: auto;
}

[data-history-opened="true"] > img {
	opacity: 0.8 !important;
}

.empty_ {
	align-items: center;
	justify-content: center !important;
	height: calc(100% - 0.25rem);
}

/* Notice / Link */

#notice {
	margin-top: 0.656rem;
	padding: 0 var(--seven);
	font-size: var(--font-size-secondary);
	line-height: 1.1;
	word-wrap: break-word;
}

/* Media Query */

@media (hover: hover) {
	._history-icon img {
		opacity: 0.6;
	}

	._history-icon img:hover {
		opacity: 0.8;
	}

	.__buttons > span:hover {
		color: var(--button-hover-foreground);
		background: var(--button-hover-backround);
	}

	.__buttons span:hover > img {
		filter: invert(100%);
	}
}

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}
}
/* -------- */